appdirs==1.4.3
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.5.3
chardet==2.2.1
conda==4.3.13
configobj==4.7.2
cycler==0.10.0
decorator==3.4.0
Django==1.8
django-bootstrap3==8.1.0
django-cors-headers==2.0.0
django-datatable==0.2.1
django-filter==1.0.1
django-registration==2.2
django-tables2==1.3.0
django-tables2-simplefilter==0.1
djangorestframework==3.5.3
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.1
fail2ban==0.9.6
functools32==3.2.3.post2
GeoIP==1.3.2
greenlet==0.4.11
image==1.5.5
iniparse==0.4
lxml==3.7.2
Markdown==2.6.7
matplotlib==2.0.0
netCDF4==1.2.7
nose==1.3.0
numexpr==2.6.1
numpy==1.12.0
olefile==0.44
packaging==16.8
perf==0.1
Pillow==6.2.0
psycopg2==2.6.2
pycosat==0.6.1
pycurl==7.19.0
pygeoip==0.3.2
pygobject==3.14.0
pygpgme==0.3
pyliblzma==0.5.3
pyparsing==2.2.0
python-dateutil==2.6.0
python-geoip==1.2
python-geoip-geolite2==2015.303
pytz==2016.10
pyudev==0.15
pyxattr==0.5.1
requests==2.13.0
ruamel.ordereddict==0.4.9
ruamel.yaml==0.13.14
scipy==0.12.1
six==1.10.0
slip==0.4.0
slip.dbus==0.4.0
South==1.0.2
subprocess32==3.2.7
table==0.0.4
tables==3.3.0
typing==3.5.3.0
urlgrabber==3.10
urllib3==1.10.2
uWSGI==2.0.14
virtualenv==15.1.0
Whoosh==2.7.4
yolk==0.4.3
yum-axelget==1.0.4
yum-metadata-parser==1.1.4
