{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>django</title>

<style type="text/css">
    body{

            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 1;
        }


</style>
<link rel="stylesheet" href="{% static 'css/kingofsat.css' %}">

    <h1>Sad sam na Post pageu</h1>

    <form method="POST" action="/post/channel/">
      {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
